.navbar-main {
  /* background-color: #1B262C; */
  padding: 0.25rem 16px;
  padding-left: calc((100% - 1297px) / 2 + 4px);
  padding-right: calc((100% - 1297px) / 2 - 6px);
}
/*
.nav-item {
  color: #BBE1FA;
}

.nav-item .navbar-text-style.nav-link {
  color: #BBE1FA;
  font-weight: 700;
  margin-left: 20px;
  margin-right: 20px;
  padding: 4px 8px;
  transition: color 0.1s ease-in;
}

.nav-item .navbar-text-style.nav-link:hover {
  color: #3282B8;
  transition: color 0.1s ease-in;
}

.nav-item .navbar-text-style.nav-link:focus {
  color: #BBE1FA;
}

.nav-item .navbar-text-style.nav-link:focus:hover {
  color: #3282B8;
}

.nav-item .navbar-icon-style.nav-link {
  color: #BBE1FA;
  font-size: 1.5rem;
  margin-left: 20px;
  margin-right: 20px;
  padding: 4px 8px;
  transition: color 0.1s ease-in;
}

.nav-item .navbar-icon-style.nav-link:hover {
  color: #3282B8;
  transition: color 0.1s ease-in;
}

.nav-item .navbar-icon-style.nav-link:focus {
  color: #BBE1FA;
}

.navbar-spacing {
    padding-top: 52px;
} */


/* EXPERIMENTAL */
/* .nav-item.dropdown {
  margin-bottom: 0;
}

@media (min-width: 992px) {
  .nav-item.dropdown {
    border: 0;
    position: static;
  }
} */

/* .nav-link.dropdown-toggle::before {
  display: none;
  margin-left: -0.25rem;
  margin-right: 0.25rem;
  display: inline-block;
  vertical-align: middle;
}

.nav-link.dropdown-toggle::after {
  display: none;
  margin-right: -0.25rem;
  margin-left: 0.25rem;
  content: '/e92f';
} */



/* 
.nav-item .dropdown-item {
  position: relative;
  width: 100%;
  transition: all 0.25s ease-in-out;
  font-size: 0.875rem;
  font-weight: 500;
} */

/* .dropdown-menu {
  margin-top: 0;
  padding-top: 0;
} */



/* GOOD FULL SCREEN, BAD STUFF OTHERWISE */


.dropdown {
  margin: 0 5px;
}

.dropdown-menu {
  background-color: #1B262C;
  margin-top: 0;
}

.dropdown-menu .dropdown-item {
  color:#BBE1FA;
}

.dropdown-menu .dropdown-item:hover, .dropdown-menu .dropdown-item:hover:focus {
  background-color: #2c3b42;
  color: #FFFFFF;
}

.dropdown-menu .dropdown-item:focus {
  background-color: #1B262C;
  color: #BBE1FA;
}

.caret-off::before {
  display: none;
}
.caret-off::after {
  display: none;
}

.btn-navbar {
  background:#1B262C;
  color: #BBE1FA;
  font-weight: 600;
  height: 35px;
  align-self: center;
}

.btn-navbar:hover {
  color: #FFF;
}

@media (min-width: 992px) {
  .dropdown:hover .dropdown-menu {
    display: block;
  }
  
  .dropdown-menu:hover {
    visibility: visible;
  }

  .nav-item .navbar-icon-style.nav-link .btn-navbar {
    margin-left: 5px;
    margin-right: 5px;
  }

  .nav-item .navbar-icon-style.nav-link {
    padding: 0.5rem 0.5rem;
  }
}


.navbar-expand-lg .navbar-nav .nav-link.dropdown-toggle {
  padding-right: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-right-width: 0;
}

.navbar-expand-lg .navbar-nav .navbar-text-style.nav-link .btn-navbar {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}

.navbar-expand-lg .navbar-nav .dropdown-toggle-split {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-left-width: 0;
}


.nav-item .navbar-icon-style.nav-link .btn-navbar {
  color: #BBE1FA;
  font-size: 1.6rem;
  padding: 0px 8px;
  vertical-align: auto;
  transition: color 0.1s ease-in;
  height: 40px;
}

div.navbar-nav.ml-auto {
  flex-direction: unset;
}

.nav-icon {
  display: flex;
  flex-direction: row;
}

.navbar-icon-style .btn-navbar {
  margin: 0;
}

@media (max-width: 992px) {

  .navbar-toggler {
    background-color: #1B262C;
    color: #BBE1FA;
    margin-left: 30px;
    margin-top: 10px;
    margin-bottom: 2px;
  }

  .navbar-toggler-icon {
    width: 3rem;
    height: 3rem;
  }

  .dropdown-toggle {
    padding-top: 0;
    padding-bottom: 0;
  }

  .nav-link.dropdown-toggle {
    margin-left: 25px;
  }

  .dropdown-toggle-split#navbarDropdown {
    align-self: unset;
    margin: 0 0 0 0;
    height: 3rem;
  }

  .nav-item.dropdown .btn-group {
    padding: 2px 0;
  }

  .nav-link.navbar-icon-style {
    padding: 2px;
  }

  .navbar-collapse .nav-icon {
    margin-left: 28px !important;
  }

  .nav-link.navbar-text-style.dropdown-toggle .btn-navbar {
    font-size: 1.5rem;
    height: 3rem;
  }

  .dropdown-menu .dropdown-item {
    font-size: 1.2rem;
  }

}