.project-page-main {
    text-align: center;
}

.projects-title-page-top h1 {
    height: 100px;
    padding: 100px 0 0;
}

.projects-title-page-top {
    background-color: #0f4c75;
    background-image: url("https://www.transparenttextures.com/patterns/cubes.png");
    padding: 60px 0px 300px;
    text-align: center;
}

.projects-title-page-bottom {
    color: #FFF;
    position: relative;
    z-index: 1;
    bottom: 6vw;
}



.project-tile-grid {
    max-width: 1280px;
    margin: auto;
    padding-bottom: 5%;
}

@media (max-width: 1343px) {
    .project-tile-grid {
        margin: auto 30px;
    }
}

.project-tile-grid img {
    padding: 15% 5%;
}

.project-tile {
    border: 1px solid #eeeeee;
    box-shadow: 0 0 0.825rem -0.17rem #CCC !important;
    transition: all 0.2s ease-out;
}
    
.project-page-main .project-tile:hover {
    border: 1px solid blue;
    box-shadow: 4px 4px 0.825rem -0.17rem rgba(0,0,0,0.736) !important;
    text-decoration: none;
    transition: border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.project-tile .card-body {
    background-color: white;
    border-radius: 1rem;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.card-image-background {
    border-radius: 1rem;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.tile-image {
    width: 100%;
}

.card {
    margin: 3% 3%;
    border-radius: 1rem;
}



/* EXPERIMENT */

@media (min-width: 992px) {
    .project-spotlight {
        position: relative;
    }

    .project-spotlight::before {
        right: 0;
        left: auto;
        display: block;
        position: absolute;
        top: 0;
        width: 40%;
        height: 100%;
        background-color: #F7F7FC;
        content: '';
    }
}

.project-spotlight .container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 1280px) {
    .project-spotlight .container {
        max-width: 1260px;
    }
}

.project-spotlight .sidebar {
    padding-top: 3rem !important;
}

@media (min-width: 992px) {
    .project-spotlight .sidebar {
        background-color: #F7F7FC;
        padding-top: 6rem;
        order: 2;
    }
}

.project-spotlight .sidebar-content {
    padding-left: 1.5rem !important;
    padding-right: 1.5rem !important;
    padding-top: 5rem !important;
}

@media (min-width: 992px) {
    .project-spotlight .sidebar-content {
        padding-bottom: 5rem !important;
        padding-top: 5rem !important;
    }
}

@media (min-width: 576px) {
    .project-spotlight.sidebar-content {
        padding-left: 1.5rem !important;
        padding-right: 1.5rem !important;
    }
}

.project-spotlight h2 {
    line-height: 1.25;
    margin-bottom: 0.75rem;
    font-weight: 600;
    color: #4A4B65;
}

.project-spotlight h5 {
    line-height: 1.4;
    margin-bottom: 0.75rem;
    font-weight: 600;
    color: #4A5B65;
}

@media (max-width: 1200px) {
    .project-spotlight h2 {
        font-size: calc(1.325rem + 0.9vw);
    }
}

.project-spotlight p {
    font-size: 0.875rem !important;
    padding-bottom: 0.5rem !important;
    margin-bottom: 1.5rem !important;
}


.project-spotlight .gallery {
    padding-top: 0.5rem !important;
}

@media (min-width: 992px) {
    .project-spotlight .gallery {
        padding-left: 15px;
        padding-right: 2.5rem;
        position: relative;
        background-color: #FFF;
        z-index: 2;
        padding-top: 6rem !important;
        padding-bottom: 1.5rem !important;
        order: 1;
    }
}


.project-tile-background-colours {
    color: #8E3B46;
    color: #E1DD8F;
    color: #E0777D;
    color: #4C86A8;
    color: #477890;
}